name: tests
on:
  pull_request:
  push:
    branches: [ main ]

  schedule:
  - cron: '25 08 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: Debug with tmate
        required: false
        default: false

env:
  # Allow ddev get to use a github token to prevent rate limiting by tests
  DDEV_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Required permissions for keep-alive, used by ddev/github-action-add-on-test
permissions:
  actions: write

jobs:
  tests:
    strategy:
      matrix:
        ddev_version: [stable, HEAD]
        drupal_version: ["default", "10", "11"]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: ddev/github-action-add-on-test@v2
      with:
        ddev_version: ${{ matrix.ddev_version }}
        token: ${{ secrets.GITHUB_TOKEN }}
        debug_enabled: ${{ github.event.inputs.debug_enabled }}
        addon_repository: ${{ env.GITHUB_REPOSITORY }}
        addon_ref: ${{ env.GITHUB_REF }}
        test_command: eval BATS_LIB_PATH=$(brew --prefix)/lib TEST_DRUPAL_CORE=${{ matrix.drupal_version }} bats tests
